DEBUG=True
SECRET_KEY=yoursecretkeyhere
MILLER_DATABASE_NAME=miller
MILLER_DATABASE_USER=miller
MILLER_DATABASE_PASSWORD=miller
MILLER_DATABASE_HOST=localhost
MILLER_DATABASE_PORT=5432
REDIS_HOST=localhost
REDIS_PORT=6379
MILLER_SCHEMA_ROOT="./miller/schema"
ALLOWED_HOSTS=127.0.0.1,localhost
