[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
jsonschema = "*"
short-url = "*"
pyyaml = "*"
celery = "*"
redis = "*"
watchdog = "*"
argh = "*"
wand = "*"
flake8 = "*"
dpath = "*"
gspread = "*"
gitpython = "*"
django-oauth-toolkit = "*"
djoser = "*"
shortuuid = "*"
future = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
