[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
jsonschema = "*"
short-url = "*"
pyyaml = "*"
celery = "*"
redis = "*"

[requires]
python_version = "3.8"
