{% extends 'admin/change_form.html' %}
{% load static %}

{% block field_sets %}
{% if adminform.form.instance.pk %}
  <div id="log-schema-payload">


  </div>
{% endif %}
{% if adminform.form.instance.snapshot %}
  <img width="300" src="{{ adminform.form.instance.snapshot.url }}" style="margin-bottom:10px" />
 
{% endif %}

{{ block.super }}
{% endblock %}

{% block admin_change_form_document_ready %}
{{ block.super }}
  {{ adminform.form.instance.data|json_script:"doc-data" }} 
  
  <script type="text/JavaScript" src="{% static 'js/edit_json_field.js' %}"></script>
  <script type="text/javascript">
    (function($) {
      function displayForm (schema, message='') {
        var hasMessage = message.length > 0
        var logMessage = 'JSON schema to validate <b>data </b>field: <a href="' + schema + '" target="_blank">' + schema + '</a>.'
        if (hasMessage) {
          logMessage += '<br/><br/><p class="errornote">' + message + '</p>'
        } 
        var logger =  document.getElementById('log-schema-payload')
        if(logger) {
          logger.innerHTML = logMessage
        }
        var editJSONField = new EditJSONField($('.field-data').parent(), {
          schema: schema,
          validate: {{ errors | yesno:"true,false" }}
        });
      }
      var doc = JSON.parse(document.getElementById('doc-data').textContent);
      // chck if a specific JSON schema exists for the datatype.
      var jsonSchemaUrl = "{% static 'schema/document' %}/payload." + doc.type + ".json" 
      console.debug('Check if schema url exist, url:', jsonSchemaUrl)
      try {
        fetch(jsonSchemaUrl)
          .then(function(res) { 
            console.debug('schema url', jsonSchemaUrl, 'status:', res.status)
            if (res.status === 200) {
              displayForm(jsonSchemaUrl)
            } else {
              displayForm(
                "{% static 'schema/document/payload.json' %}",
                "File " + jsonSchemaUrl + " not found, code: " + res.status
              )
            }
          }).catch(function(err) {
            console.error(err)
            displayForm(
              "{% static 'schema/document/payload.json' %}",
              "File " + jsonSchemaUrl + " not valid, check error in console: " + err.message)
          })
      } catch(e) {
        console.error('Schema throw errors, back to default, error received:', e)
        displayForm(
          "{% static 'schema/document/payload.json' %}",
          "File " + jsonSchemaUrl + " not loaded correctly, check error in console:" + err.message
        )
      }
    })(django.jQuery)
  </script>
{% endblock %}
