{% extends 'admin/change_form.html' %}
{% load static %}

{% block admin_change_form_document_ready %}
{{ block.super }}
  <script type="text/JavaScript" src="{% static 'js/edit_json_field.js' %}"></script>
  <script type="text/javascript">
    (function($) {
      new EditJSONField($('.field-data').parent(), {
        schema: "{% static 'schema/document/payload.json' %}"/*,
        jsonField: $('.field-data .readonly')*/
      });
    })(django.jQuery)
  </script>
{% endblock %}
